<footer class="bg-dark text-white py-4 mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>Gestion de Formation DBA</h5>
          <p>Centralisez et gérez vos formations efficacement.</p>
        </div>
        <div class="col-md-3">
          <h5>Liens rapides</h5>
          <ul class="list-unstyled">
            <li><a href="/domaines" class="text-white">Domaines</a></li>
            <li><a href="/formateurs" class="text-white">Formateurs</a></li>
            <li><a href="/formations" class="text-white">Formations</a></li>
            <li><a href="/participants" class="text-white">Participants</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact</h5>
          <p>Email: contact@gestionformation.com</p>
          <p>Téléphone: +216 554066620</p>
        </div>
      </div>
      <hr>
      <div class="text-center">
        <p>&copy; <%= new Date().getFullYear() %> Gestion de Formation. Tous droits réservés.</p>
      </div>
    </div>
  </footer>